@import "tailwindcss";

@theme {
  --color-green: #00e67b;
  --color-white: #dcd8d3;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-mono--font-feature-settings: "ss09" on;
}

html {
  @apply bg-white scroll-smooth;
}

body {
  @apply font-mono text-sm;
}

.cta {
  @apply leading-tight p-4 inline-block hover:underline focus:outline-none focus-visible:bg-black focus-visible:text-white;
  & .primary {
    @apply bg-green focus-visible:bg-black;
  }
  & .outline {
    @apply border-[1.5px] border-black;
  }
  & .mute {
    @apply opacity-25 hover:opacity-100 focus-visible:opacity-100;
  }
  & .inverted {
    @apply bg-black text-white  focus-visible:text-black;
  }
}

.bounded {
  @apply mx-auto md:mr-0 max-w-[60ch] md:max-w-2/5 px-8 md:px-4 py-16;
}

.rich-text {
  & > h1 {
    @apply font-sans font-bold leading-none text-[max(3rem,5vw)];
  }

  & > h2 {
    @apply font-sans font-bold leading-none text-[max(1.875rem,2.5vw)];
  }

  & > h3 {
    @apply font-sans font-bold leading-none text-[max(1.25rem,1.25vw)];
    &:not(:first-child) {
      @apply mt-4;
    }
  }

  & > p,
  & > ul,
  & > ul > li {
    @apply max-w-[40ch] hyphens-auto;
    &:not(:first-child) {
      @apply mt-4;
    }
  }

  & > p,
  & li {
    & > a {
      @apply underline focus:outline-none focus:bg-black focus:text-white;
    }
  }
}
